---
title: Magic the Gathering Decks
type: magic
layout: layout.njk
theme: mothership
tags:
  - magic
publish: true
gm: false
eleventyNavigation:
  key: MTG
  parent: Home
  order: 40
created: 2026-02-01T07:45
updatedAt: 2026-02-01T07:50
permalink: /vault/mtg/magic/
---
<ul class="list">
  <li><a href="/vault/mtg/pauper/">Pauper</a></li>
  <li><a href="/vault/mtg/commander/">Commander</a></li>
  <li><a href="/vault/mtg/cube/">Cube</a></li>
</ul>