---
title: Characters
layout: layout.njk
type: characters
theme: tor
publish: true
draft: false
campaign: Pirate Borg campaign
eleventyNavigation:
  key: pirate-borg-campaign-characters
  parent: pirate-borg-campaign
  order: 2
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    
  </ul>
</section>