---
title: Mothership
layout: layout.njk
theme: mothership
campaign: Mothership campaign
eleventyNavigation:
  key: Mothership
  parent: Home
  order: 1
---
<p>An overview of the Mothership Role Playing Game</p>

<ul>
  <li><a href="/vault/campaigns/Mothership campaign/general information/">General Information</a></li>
</ul>