---
title: Maps
layout: layout.njk
type: maps
theme: tor
publish: true
draft: false
campaign: Echos Beneath the Mountains
eleventyNavigation:
  key: maps
  parent: Echos Beneath the Mountains
  order: 7
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title | lower }} section of the {{ campaign }} campaign.</p>

  <ul>
    {% set entries = (collections.maps or []) | filterByMultiple({ campaign: "Echos Beneath the Mountains", publish: true, draft: false }) %}
    {% for entry in entries %}
      <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
    {% endfor %}
  </ul>
</section>