---
title: Wildsea Overview
layout: layout.njk
theme: wildsea
campaign: Wildseas unnamed
eleventyNavigation:
  key: Wildsea
  parent: Home
  order: 1
---
<p>An overview of The Wildsea Role Playing Game</p>

<ul>
  <li><a href="/vault/campaigns/Wildsea campaign/general information">General Information</a></li>
  {# Add more folders here when ready #}
</ul>

