---
title: R.E.C.T.A.L. Probe- Super Slogans3
layout: layout.njk
theme: mothership
publish: true
system: paranoia
permalink: /vault/systems/paranoia/items/link6/
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
eleventyExcludeFromCollections: true
hide_title_block: true
---
<h2 style="margin-top: 50px>Doesn't that feel good?</h2>