---
title: R.E.C.T.A.L. Probe- Super Slogans
layout: layout.njk
theme: mothership
type: items
publish: true
system: paranoia
eleventyNavigation:
  parent: Paranoia
  order: 5
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: true
---
body {
        margin-top: 50px; /* Adds 50 pixels of space above the entire page content */
    }
<a href="/vault/systems/paranoia/items/link1/">"R.E.C.T.A.L. Probe- Super Slogans. Oh, this was just supposed to load here. Well, here's the link anyway."</>