---
title: R.E.C.T.A.L. Probe- Super Slogans3
layout: layout.njk
theme: mothership
publish: true
permalink: /vault/systems/paranoia/items/link3/
system: paranoia
eleventyExcludeFromCollections: true
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: true
---
<a style="margin-top: 50px href="/vault/systems/paranoia/items/link4/">"R.E.C.T.A.L. Probe- Super Slogans. Agh!! Num-B-NUT-5!! Treasonous swine! This is it! You've crossed the line! I'm done! I'm not holding back. I have my laser pistol ready!"</>