---
title: R.E.C.T.A.L. Probe- Super Slogans
layout: layout.njk
theme: mothership
publish: true
system: paranoia
permalink: /vault/systems/paranoia/items/link1/
eleventyExcludeFromCollections: true
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: true
---
body {
        margin-top: 50px; /* Adds 50 pixels of space above the entire page content */
    }
<a href="/vault/systems/paranoia/items/link2/">"R.E.C.T.A.L. Probe- Super Slogans. Whoops! This one works"</>