---
title: R.E.C.T.A.L. Probe- Super Slogans
layout: layout.njk
theme: mothership
publish: true
permalink: /vault/systems/paranoia/items/link4/
created: 2025-11-18T21:46
eleventyExcludeFromCollections: true
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: false
---
<a href="/vault/systems/paranoia/items/link5/"> "R.E.C.T.A.L. Probe- Super Slogans. He's got to come out soon. He has to eat sometime."</>