---
title: R.E.C.T.A.L. Probe- Super Slogans2
layout: layout.njk
theme: mothership
publish: true
permalink: /vault/systems/paranoia/items/link2/
system: paranoia
eleventyExcludeFromCollections: true
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: true
---
body {
        margin-top: 50px; /* Adds 50 pixels of space above the entire page content */
    }
<a href="/vault/systems/paranoia/items/link3/">"R.E.C.T.A.L. Probe- Super Slogans. What?? I thought this was the right one."</>