---
title: R.E.C.T.A.L. Probe- Super Slogans
layout: layout.njk
publish: true
permalink: /vault/systems/paranoia/items/link5/
eleventyExcludeFromCollections: true
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
hide_title_block: false
---
<style>
  h1,h2,h3,h4{
     color: var(--color-accent, #FFB41FFF);
     text-align: left;
     padding: 0;
     margin: 0
  }
  h1{
  margin-top: 4.5rem
}
  body{
  --color-bg:       #1A5D11; 
  --color-text:     #fef7b8ff; 
  --color-accent:   #FFB41FFF;  
  --color-link:     #fef7b8ff; 
  }
  body{
      text-align: left;
  }
  .list{
      text-align: left;
      margin: 0;
      padding: 0
  }
  </style>
<a href="/vault/systems/paranoia/items/link6/">R.E.C.T.A.L. Probe- Super Slogans. You're welcome. One less Commie traitor. This link will finally work!</>