---
title: R.E.C.T.A.L. Probe- Super Slogans
layout: layout.njk
publish: true
permalink: /vault/systems/paranoia/items/link6/
created: 2025-11-18T21:46
updatedAt: 2025-11-18T22:05
no_heading_border: true
eleventyExcludeFromCollections: true
hide_title_block: false
---
<style>
  h1,h2,h3,h4{
     color: var(--color-accent, #FFB41FFF);
     text-align: left;
     padding: 0;
     margin: 0
  }
  h1{
  margin-top: 4.5rem
}
  body{
  --color-bg:       #1A5D11; 
  --color-text:     #fef7b8ff; 
  --color-accent:   #FFB41FFF;  
  --color-link:     #fef7b8ff; 
  }
  body{
      text-align: left;
  }
  .list{
      text-align: left;
      margin: 0;
      padding: 0
  }
  </style>
<h2>Didn't that feel good?</h2>
<script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdzQTNP22ed33aj6URRP_2B_2FiB7g92cnrtdU3frFNaEbtZB.js",a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>