---
title: Lore
layout: layout.njk
type: lore
theme: tor
publish: true
draft: false
campaign: Echoes Beneath the Mountains
eleventyNavigation:
  key: Lore
  parent: Echoes
  order: 4
---
<h1>History, tales, songs and legends</h1>
<ul>
  {% for entry in collections.echoes_public_lore %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>