---
title: General
layout: layout.njk
type: general
theme: tor
publish: true
draft: false
campaign: Pirate Borg campaign
eleventyNavigation:
  key: pirate-borg-campaign-general
  parent: pirate-borg-campaign
  order: 3
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    <li><a href="${e.url}">${e.title}</a></li>
  </ul>
</section>