---
title: Timewatch Landing Page
layout: layout.njk
theme: timewatch
publish: true
draft: false
campaign: timewatch
eleventyNavigation:
  key: Timewatch
  parent: Home
  order: 1
---

<ul>
  {% for entry in collections.timewatch_public_general %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>