<!DOCTYPE html>
<html lang="en">
<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/abt0pgb.css">

  {% if theme == "main" %}
    <link rel="stylesheet" href="/assets/css/theme-main.css">
  {% elif theme == "tor" %}
    <link rel="stylesheet" href="/assets/css/theme-tor.css">
  {% elif theme == "pirateborg" %}
    <link rel="stylesheet" href="/assets/css/theme-pirateborg.css">
  {% elif theme == "wildsea" %}
    <link rel="stylesheet" href="/assets/css/theme-wildsea.css">
    {% elif theme == "mothership" %}
    <link rel="stylesheet" href="/assets/css/theme-mothership.css">
    {% elif theme == "timewatch" %}
    <link rel="stylesheet" href="/assets/css/theme-timewatch.css">
    {% elif theme == "mythic" %}
    <link rel="stylesheet" href="/assets/css/theme-mythic.css">
    {% elif theme == "dolmenwood" %}
    <link rel="stylesheet" href="/assets/css/theme-dolmenwood.css">
    {% elif theme == "halloween" %}
    <link rel="stylesheet" href="/assets/css/theme-halloween.css">
    {% elif theme == "ten-candles" %}
    <link rel="stylesheet" href="/assets/css/theme-ten-candles.css">
    {% elif theme == "shadowdark" %}
    <link rel="stylesheet" href="/assets/css/theme-shadowdark.css">
    {% elif theme == "the-dare" %}
    <link rel="stylesheet" href="/assets/css/theme-the-dare.css">
    {% elif theme == "dread" %}
    <link rel="stylesheet" href="/assets/css/theme-dread.css">
    {% elif theme == "brindlewood" %}
    <link rel="stylesheet" href="/assets/css/theme-brindlewood.css">
    {% elif theme == "test" %}
    <link rel="stylesheet" href="/assets/css/theme-test.css">
  {% endif %}
</head>
{% set navTree = collections.all | eleventyNavigation %}
{# Choose the correct navigation tree #}
{% if page.url == '/' %}
  {% set navTree = collections.global_navigation | eleventyNavigation %}
{% elif page.data.system %}
  {% set navTree = collections[page.data.system + '_navigation'] | eleventyNavigation %}
{% else %}
  {% set navTree = collections.global_navigation | eleventyNavigation %}
{% endif %}
<!-- MOBILE NAVIGATION -->
<select
  id="mobile-nav"
  class="mobile-nav"
  onchange="if(this.value) window.location.href=this.value;"
>
  <option value="">Jump to…</option>
  {% for item in navTree %}
    <option
      value="{{ item.url }}"
      {% if page.url === item.url %}selected{% endif %}
    >{{ item.title }}</option>

    {% if item.children %}
      {% for child in item.children %}
        <option
          value="{{ child.url }}"
          {% if page.url === child.url %}selected{% endif %}
        >&nbsp;&nbsp;{{ child.title }}</option>

        {% if child.children %}
          {% for grandchild in child.children %}
            <option
              value="{{ grandchild.url }}"
              {% if page.url === grandchild.url %}selected{% endif %}
            >&nbsp;&nbsp;&nbsp;{{ grandchild.title }}</option>
          {% endfor %}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</select>

<body class="{{ theme | default('main') }}{% if no_heading_border %} no-heading-border{% endif %}">
{% set currentsystem = system %}

  <div class="layout-wrapper">
 <!    {% include "components/sidebar.njk" %}

<main>
  {% if hide_title_block != true %}
  {% include "components/title-block.njk" %}
  {% endif %}
  {% if gm %}
  {% gm %}{{ content | safe }}{% endgm %}
{% else %}
  {{ content | safe }}
{% endif %}

  {# AUTO-APPEND related links for session pages #}
  {% if type == "sessions"  %}
    {% include "components/session-related.njk" %}
  {% endif %}
</main>


  </div>

</body>
</html>
