<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">

  {% if theme == "main" %}
    <link rel="stylesheet" href="/assets/css/theme-main.css">
  {% elif theme == "tor" %}
    <link rel="stylesheet" href="/assets/css/theme-tor.css">
  {% elif theme == "pirateborg" %}
    <link rel="stylesheet" href="/assets/css/theme-pirateborg.css">
  {% elif theme == "wildsea" %}
    <link rel="stylesheet" href="/assets/css/theme-wildsea.css">
    {% elif theme == "mothership" %}
    <link rel="stylesheet" href="/assets/css/theme-mothership.css">
    {% elif theme == "timewatch" %}
    <link rel="stylesheet" href="/assets/css/theme-timewatch.css">
  {% endif %}
</head>
{% set navTree = collections.all | eleventyNavigation %}

<!-- MOBILE NAVIGATION -->
<select
  id="mobile-nav"
  class="mobile-nav"
  onchange="if(this.value) window.location.href=this.value;"
>
  <option value="">Jump to…</option>
  {% for item in navTree %}
    <option
      value="{{ item.url }}"
      {% if page.url === item.url %}selected{% endif %}
    >{{ item.title }}</option>

    {% if item.children %}
      {% for child in item.children %}
        <option
          value="{{ child.url }}"
          {% if page.url === child.url %}selected{% endif %}
        >&nbsp;&nbsp;{{ child.title }}</option>

        {% if child.children %}
          {% for grandchild in child.children %}
            <option
              value="{{ grandchild.url }}"
              {% if page.url === grandchild.url %}selected{% endif %}
            >&nbsp;&nbsp;&nbsp;{{ grandchild.title }}</option>
          {% endfor %}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</select>

<body class="{{ theme | default('main') }}">
{% set currentCampaign = campaign %}

  <div class="layout-wrapper">
    {% include "components/sidebar.njk" %}

    <main>
      {% include "components/title-block.njk" %}
      {{ content | safe }}
    </main>
  </div>

</body>
</html>
