---
title: 🎃 Halloween One-Shots
layout: layout.njk
theme: halloween
slug: halloween
publish: true
---

# Pick your poison…
<!-- DEBUG: theme = {{ theme }} -->


<ul>
  {% for game in collections.halloween_games %}
    <li>
      <a href="{{ game.url }}">{{ game.data.menuTitle or game.data.title }}</a>
      {% if game.data.tagline %} — {{ game.data.tagline }}{% endif %}
    </li>
  {% endfor %}
</ul>
