---
title: Npcs
layout: layout.njk
type: npcs
theme: tor
publish: true
draft: false
campaign: Wildsea campaign
eleventyNavigation:
  key: npcs
  parent: Wildsea campaign
  order: 8
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title | lower }} section of the {{ campaign }} campaign.</p>

  {% set entries = collections.content | filterByMultiple({ type: "npcs", campaign: "Wildsea campaign", publish: true, draft: false }) %}
  <ul>
    {% for entry in entries %}
      <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
    {% else %}
      <li><em>No entries found.</em></li>
    {% endfor %}
  </ul>
</section>