---
title: Locations
layout: layout.njk
type: locations
theme: pirate
publish: true
draft: false
campaign: Pirate Borg campaign
eleventyNavigation:
  key: pirate-borg-campaign-locations
  parent: pirate-borg-campaign
  order: 5
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    
  </ul>
</section>