---
title: Items
layout: layout.njk
type: items
theme: tor
publish: true
draft: false
campaign: Wildsea campaign
eleventyNavigation:
  key: wildsea-campaign-items
  parent: wildsea-campaign
  order: 4
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    
  </ul>
</section>