---
title: The Wildsea campaign
layout: layout.njk
theme: wildsea
publish: true
draft: false
campaign: Wildsea
eleventyNavigation:
  key: Wildsea
  parent: Home
  order: 1
---

<ul>
  {% for entry in collections.wildsea_public_general %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>