/* === Mythic Bastionland Theme === */
.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body.mythic {
    --font-body: 'UnifrakturMaguntia', serif;
    --font-heading: 'EB Garamond', serif;
    --color-bg: #dfdfdf;
    --color-text: #231f20;
    --color-accent: #a4a28a;
    --color-link: #7d4e44;
    --color-border: #a4a28a;
    --color-callout-bg: #dfdfdf;
    --color-callout-border: #4c444f;
    --sidebar-bg: #a7a984;
    --sidebar-text: #465554;
  }
 /* ------------------------------------------------------------------- 
   Hide the select by default, show the sidebar by default
   ------------------------------------------------------------------- */
   .mobile-nav { display: none; }
   .sidebar    { display: block; }
   
   /* ------------------------------------------------------------------- 
      Small‐screen override: show the dropdown and hide the sidebar
      ------------------------------------------------------------------- */
   @media screen and (max-width: 768px) {
     .mobile-nav { display: block !important; }
     .sidebar    { display: none  !important; }
   }
