/* === Wildsea Theme === */
body.wildsea {
    --font-body: 'Merriweather', serif;
    --font-heading: 'Cinzel', serif;
    --color-bg: #1e1a2d;
    --color-text: #e3ffe4;
    --color-accent: #91ff9e;
    --color-link: #c792ea;
    --color-border: #4b3c70;
    --color-callout-bg: #2c223f;
    --color-callout-border: #91ff9e;
  }
