/* === Wildsea Theme === */
h1, h2, h3 {
  font-family: var(--font-heading, sans-serif);
  color: var(--color-accent, #8a6552ff);
  padding-bottom: 0.2em;
  text-align: left;
}
h1{
  margin-top: 5rem
}

body.wildsea {
    --font-body: 'Merriweather', serif;
    --font-heading: 'Cinzel', serif;
    --color-bg: #e8dab2ff;
    --color-text: #002a32ff;
    --color-accent: #8a6552ff;
    --color-link: #58a4b0ff;
    --color-border: #957964ff;
    --color-callout-bg: #e8dab2ff;
    --color-callout-border: #957964ff;
    --sidebar-bg: #eff8e2ff;
    --sidebar-text: #2d1e2fff;
    --jet-black: #002a32ff;
    --pearl-beige: #e8dab2ff;
    --pacific-blue: #58a4b0ff;
    --toffee-brown: #8a6552ff;
    --dark-spruce: #2e5339ff;
  }
body{
  text-align: left;
}

 /* ------------------------------------------------------------------- 
   Hide the select by default, show the sidebar by default
   ------------------------------------------------------------------- */
   .mobile-nav { display: none; }
   .sidebar    { display: block; }
   
   /* ------------------------------------------------------------------- 
      Small‐screen override: show the dropdown and hide the sidebar
      ------------------------------------------------------------------- */
   @media screen and (max-width: 768px) {
     .mobile-nav { display: block !important; }
     .sidebar    { display: none  !important; }
   }
