/* === The One Ring Theme === */
@font-face {
  font-family: 'Aniron';
  src: url('/assets/fonts/Aniron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body.tor {
    --font-body: 'Libre Baskerville', serif;
    --font-heading: 'Aniron';
    --color-bg: #FEFCF3;
    --color-text: #574C39;
    --color-accent: #6a4e32;
    --color-link: #AA3733;
    --color-border: #d8cbb1;
    --color-callout-bg: #E8DFD1;
    --color-callout-border: #9F8878;
  }
/* ------------------------------------------------------------------- 
   Hide the select by default, show the sidebar by default
   ------------------------------------------------------------------- */
   .mobile-nav { display: none; }
   .sidebar    { display: block; }
   
   /* ------------------------------------------------------------------- 
      Small‐screen override: show the dropdown and hide the sidebar
      ------------------------------------------------------------------- */
   @media screen and (max-width: 768px) {
     .mobile-nav { display: block !important; }
     .sidebar    { display: none  !important; }
   }
   