---
title: General
layout: layout.njk
type: general
theme: tor
publish: true
draft: false
campaign: Echos Beneath the Mountains
eleventyNavigation:
  key: echos-beneath-the-mountains-general
  parent: echos-beneath-the-mountains
  order: 3
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    <li><a href="${e.url}">${e.title}</a></li>
    <li><a href="${e.url}">${e.title}</a></li>
  </ul>
</section>