---
title: Mothership October Oneshot
layout: layout.njk
theme: mothership
publish: true
campaign: mothership_oct
eleventyNavigation:
  key: Mothership Oneshot
  parent: Home
  order: 1
---
<html>
 span { font-size: 3em;}
 span b { font-size: 60%; font-weight: normal }
<span>Mother!<b>ship</b></span>
<body>
<p>Helpful Links</p>

<p><a href="https://bit.ly/moshwes1">Learn how to play</a></p>
<p><a href="https://www.tuesdayknightgames.com/pages/mothership-companion-app">Official Mothership App</a></p>


</body>
</html>

