---
title: NPCs
layout: layout.njk
theme: tor
eleventyNavigation:
  key: NPCs
  parent: Echoes
  order: 3
---
<h2>Notable characters encountered so far in the game</h2>
<ul>
  {% for entry in collections.public_npcs %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>
