---
title: The Grand Long Map
layout: layout.njk
type: maps
publish: true
theme: uvg
system: uvg
no_heading_border: true
eleventyNavigation:
  parent: uvg-maps
  key: uvg-grand-long-map
  title: The Grand Long Map
  order: 1
---

<p><a href="/assets/pdfs/UVG_full_map.pdf">Open the full UVG map (PDF)</a></p>
