---
title: Items
layout: layout.njk
theme: tor
campaign: echoes
eleventyNavigation:
  key: Items
  parent: Echoes
  order: 2
---

<h1>Objects found or rumored</h1>
<!-- Tools section -->
<section class="tools">
  <h2>Item Generator</h2>
  <ul>
    <li><a href="/echoes-beneath-the-mountains/items/item-generator/">Item Generator</a></li>
  </ul>
</section>

<ul>
  {% for entry in collections.echoes_public_items %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>