---
title: Brindlewood Bay General Information
layout: layout.njk
theme: brindlewood
publish: true
type: general
system: brindlewood
eleventyNavigation:
  parent: Brindlewood Bay
  key: General Information
  order: 1
---
<h1>General information</h1>
{% set system = systemSlug or (system | slug) %}
{% set section  = type | slug %}

{% set items = (collections.public_content or [])
  | bysystem(system)
  | where("data.section", section)
  | sortBy("data.title") %}

{# self guards #}
{% set currentUrl  = page.url or '' %}
{% set currentPath = page.inputPath %}
{% set sectionIndexUrl = "/vault/systems/" + system + "/" + section + "/" %}

<ul class="list">
  {% for it in items %}
    {% set isSelfOrIndex = (it.inputPath == currentPath)
                           or (it.url == currentUrl)
                           or (it.url == sectionIndexUrl)
                           or (it.page and it.page.fileSlug == "index") %}
    {% if not isSelfOrIndex %}
      <li><a href="{{ it.url }}">{{ it.data.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>