---
title: Player Characters
layout: layout.njk
theme: tor
eleventyNavigation:
  key: Characters
  parent: Echoes
  order: 1

---

<h1>Player Characters</h1>

<p>Characters in the current Fellowship:</p>

<ul>
{% for character in collections.public_characters %}
  <li><a href="{{ character.url }}">{{ character.data.title }}</a></li>
{% endfor %}
</ul>
