---
title: Cubes
layout: layout.njk
theme: mothership
publish: true
eleventyNavigation:
  key: Cube
  parent: MTG
  order: 30
---
I have a proxied copy of [The Cube of Cthulhu](https://cubecobra.com/cube/overview/cthulhu). My cube is a few updates behind. I have not updated beyond the Innistrad Remastered Update.