---
title: Locations of Note
layout: layout.njk
theme: tor
eleventyNavigation:
  key: Locations
  parent: Echoes
  order: 1
---

<h1>Locations of Note</h1>

<p>Important locations for the campaign so far:</p>

<ul>
{% for location in collections.public_locations %}
  <li><a href="{{ location.url }}">{{ location.data.title }}</a></li>
{% endfor %}
</ul>
