---
title: General Items
layout: layout.njk
theme: tor
campaign: Echoes
eleventyNavigation:
  key: General Items
  parent: Echoes
  order: 1
---
<ul>
  {% for entry in collections.echoes_public_general %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>