---
title: Maps
layout: layout.njk
type: maps
theme: tor
publish: true
draft: false
campaign: Pirate Borg campaign
eleventyNavigation:
  key: pirate-borg-campaign-maps
  parent: pirate-borg-campaign
  order: 7
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    
  </ul>
</section>