---
title: Locations
layout: layout.njk
theme: tor
campaign: Echoes
eleventyNavigation:
  key: Locations
  parent: Echoes
  order: 5
---

<h1>Oh the places we will go!</h1>
<ul>
  {% for entry in collections.public_locations %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>
