---
title: Pirate Borg Intro page
layout: layout.njk
theme: pirateborg
campaign: Pirate Borg Unnamed
eleventyNavigation:
  key: Pirate
  parent: Home
  order: 1
---
<p>An original campaign set in the twilight years of the Third Age, as ancient secrets stir in the forgotten halls of Eregion and Moria.</p>

