---
title: Pirate Borg Summary
campaign: Pirate Borg campaign
type: general
slug: pirateborg
layout: layout.njk
theme: pirateborg
tags:
  - overview
  - pirate
publish: true
gm: false
summary: ""
eleventyNavigation:
  key: Pirate Borg campaign
  parent: Campaigns
  order: 1
---
Super creative tagline goes here

<ul>
  {% for entry in collections.pirateborg_public_general %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>