---
title: Player Characters
layout: layout.njk
theme: tor
campaign: Echoes
eleventyNavigation:
  key: Player Characters
  parent: Echoes
  order: 8
---
<ul>
  {% for entry in collection.echoes-beneath-the-mountains_public_characters %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>