---
title: Locations
layout: layout.njk
type: locations
theme: tor
publish: true
draft: false
campaign: Mothership campaign
eleventyNavigation:
  key: mothership-campaign-locations
  parent: mothership-campaign
  order: 5
---

<section>
  <h1>{{ title }}</h1>
  <p>Welcome to the {{ title.toLowerCase() }} section of the {{ campaign }} campaign.</p>
  <ul>
    
  </ul>
</section>