<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/main.css">
    {% if page.data.theme %}
    <link rel="stylesheet" href="/styles/themes/{{ page.data.theme }}.css">
    {% endif %}
  </head>
  <body class="theme-{{ page.data.theme }}">
    <header>
      <nav>
        <ul>
          {% for c in collections.campaigns %}
          <li><a href="{{ c.url }}">{{ c.data.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="layout">
      {{ content | safe }}
    </div>
  </body>
</html>
