{% extends "layouts/base.njk" %}
{% block content %}
<aside class="sidebar">
  <ul>
    {% for page in collections.all %}
      {%- if page.inputPath.startsWith(`vault/campaigns/${ page.data.campaign }/`) -%}
        <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
      {%- endif -%}
    {% endfor %}
  </ul>
</aside>
<main>{{ content }}</main>
{% endblock %}
