---
title: NPCs
layout: layout.njk
type: npcs
theme: tor
publish: true
draft: false
campaign: echoes
eleventyNavigation:
  key: NPCs
  parent: Echoes
  order: 6
---
<h2>Notable characters encountered so far in the game</h2>
<ul>
  {% for entry in collections.echoes_public_npcs %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
  {% endfor %}
</ul>